/***************/
/* STRUCTURE */
/***************/

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.general-padding-sm {
  padding: 4rem 0 8rem 0;
}

.general-padding-md {
  padding: 6rem 0 10rem 0;
}

/***************/
/* LINKS */
/***************/

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul li {
  list-style: none;
}

/***************/
/* COMMON */
/***************/

.nav-container {
  justify-content: space-between;
  align-items: center;

  padding: 4rem 3rem !important;
}

.steffano-logo {
  font-size: 4rem;
  font-weight: 600;
  color: inherit;
}

.send-message {
  justify-self: end;

  color: #fff;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.contact-me,
.send-message {
  height: 3.4rem;
  text-transform: uppercase;
  border-bottom: 3px solid #b800b8;
  padding-bottom: 5px;
  transition: all 0.3s;
}

.contact-me:hover,
.send-message:hover {
  color: #b800b8;
  font-weight: 600;
  border-bottom: none;
}

/***************/
/* FLEX AND GRID */
/***************/

.flex {
  display: flex;
}

.dr-cl {
  flex-direction: column;
}

.rw-gp {
  row-gap: 4rem;
}

.cl-gp-sm {
  column-gap: 2rem;
}

.cl-gp-md {
  column-gap: 4rem;
}

.grid {
  display: grid;
}

.grid-1-col {
  grid-template-columns: 1fr;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/***************/
/* MARGIN */
/***************/

.mg-tp-sm {
  margin-top: 1rem;
}

.mg-tp-md {
  margin-top: 2rem;
}

.mg-bt-sm {
  margin-bottom: 1rem;
}

.mg-bt-md {
  margin-bottom: 2rem;
}

.mg-bt-bg {
  margin-bottom: 4rem;
}

/***************/
/* PADDING */
/***************/

.pd-tp-sm {
  padding-top: 1rem;
}

.pd-bt-bg {
  padding-bottom: 4rem;
}

.pd-bt-hg {
  padding-bottom: 8rem;
}

/***************/
/* OPACITY */
/***************/

.fade {
  opacity: 0.8;
}

/***************/
/* BORDER */
/***************/

.bd-bt {
  border-bottom: 2px solid #949494;
}

.bd-tp {
  border-top: 2px solid #949494;
}

/***************/
/* BACKGROUND COLOR */
/***************/

.gr-bg {
  background-color: #252525;
}

/***************/
/* TEXT COLOR */
/***************/

.wt-tx {
  color: #ffffff;
}

/***************/
/* TEXT SIZE */
/***************/

.normal-size {
  font-size: 2rem;
}

/***************/
/* LINE-HEIGHT */
/***************/

.ln-ht {
  line-height: 1.4;
}
