/**************************/
/* BELOW 1669px (desktops) */
/**************************/

@media (max-width: 105em) {
  .hero-image {
    top: -30rem;
    right: 15rem;
  }
}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero-image {
    top: -30rem;
    right: 0;
  }

  .portfolio-header {
    margin-bottom: 3rem;
    padding-bottom: 0;
  }

  .hero-container {
    grid-template-columns: 60% 40%;
  }

  .hero-description {
    margin-bottom: 4rem;
  }

  .contact-container {
    grid-template-columns: 1fr;

    text-align: center;
    padding: 0 20rem 0 20rem;
  }

  .send-message {
    grid-column: 1;
    justify-self: end;
  }
}

/**************************/
/* BELOW 1248px (Landscape Tablets) */
/**************************/
@media (max-width: 78em) {
  .hero-container {
    grid-template-columns: 70% 30%;

    height: 100vh;
  }

  .hero-title {
    font-size: 7rem;
  }

  .hero-image {
    height: 105rem;
    width: 50rem;
  }

  .skills-list {
    grid-template-columns: 1fr 1fr;
  }

  .skill-name {
    font-size: 6rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  .hero-container {
    height: 120vh;
  }

  .portfolio-header {
    margin-bottom: 2rem;
  }

  .nav-container {
    flex-direction: column;
    row-gap: 2rem;
  }

  .hero-section {
    padding-top: 2rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    grid-template-rows: 45%;
    justify-items: center;
  }

  .hero-info-box {
    text-align: center;
  }

  .hero-description {
    padding: 0 5rem;
  }

  .hero-image-box {
    grid-row: 1 / 1;
  }

  .hero-image {
    position: relative;
    top: -40rem;

    height: 85rem;
    width: 38rem;
    object-fit: cover;
    filter: grayscale(100%) brightness(110%);
  }

  .skills-list {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .contact-container {
    padding: 0 10rem 0 10rem;
  }

  .contact-me {
    font-size: 2.4rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .hero-container {
    grid-template-rows: 43%;

    height: 130vh;
  }

  .hero-title {
    font-size: 6rem;
  }

  .projects-list {
    grid-template-columns: 1fr;
  }
}

/**************************/
/* BELOW 544px (phones) */
/**************************/
@media (max-width: 34em) {
  .hero-container {
    grid-template-rows: 45%;

    height: 110vh;
  }

  .hero-title {
    font-size: 5rem;
  }

  .hero-image {
    top: -45rem;
  }

  .projects-title,
  .contact-title {
    font-size: 7rem;
  }
}
